# choose_shape.py: 2
# detect_image.py: 1
# detect_shapes.py: 3
# detect_text.py: 7
# make_click.py: 1
# mouse_move.py: 1
# mouse_move_corner.py: 1
# mouse_shift.py: 1
# press_enter.py: 1
# write_phrase.py: 3
PyAutoGUI >= 0.9.41

# detect_image.py: 2
PyScreeze >= 0.1.19

# show_shapes.py: 4
matplotlib >= 3.0.3

# detect_shapes.py: 2
# detect_text.py: 9
numpy >= 1.16.2

# detect_shapes.py: 1
# detect_text.py: 6
# show_shapes.py: 3
opencv_python >= 4.1.0.25

# choose_shape.py: 1
psutil >= 5.6.1

# commands_to_json.py: 4,5
pymongo >= 3.7.2

# write_phrase.py: 4
pyperclip >= 1.7.0

# detect_text.py: 8
pytesseract >= 0.2.6
